@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Yesteryear&display=swap');
/* font-family: 'Poppins', sans-serif; */

:root {
  --color-primary: #22c55e;
  --color-light: #f7fee7;
  --color-lighter: #ecfccb;
  --color-dark: #3f3f46;
  --color-darker: #27272a;
  --font-fast:font-family: "Fasthand", cursive;
  --font-regular:font-family: 'Poppins', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

body{
  background-color: #fafaf9;
  font-family: var(--font-regular);
}


.min-height-100vh {
  min-height: 100vh;
}



.logo{
  display: grid;
}

.logo-main{
  position: relative;
  font-family: 'Charm', cursive;
  font-size: 2.5rem;
  color: var(--color-light);
  font-weight: bold;


}

.logo-sub{
position: absolute;
margin-top: 5rem;
font-size: 1.2rem;
padding-left: 1.5rem;
text-transform: uppercase;
background-color: var(--color-dark);
-webkit-backdrop-filter: blur(5px);
padding: 0 2rem;

}

.all-in-one{
  background-image: url(https://images.unsplash.com/photo-1618083707368-b3823daa2726?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text{
  align-items: center;
  margin-top: 10rem;
  padding: 10rem;
  
}

.texts{
  position: relative;
}


.text .headline-top{
  position:absolute;
  margin-bottom: 2rem;
  font-size: 3rem;
}

.headline-bottom{
position: absolute;
margin-top: 2rem;
font-size: 3rem;
}