@import url("https://fonts.googleapis.com/css2?family=Charm:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* font-family: 'Poppins', sans-serif; */

:root {
  --color-primary: #0d9488;
  --color-light: #f7fee7;
  --color-lighter: #ecfccb;
  --color-dark: #3f3f46;
  --color-darker: #27272a;
  --font-regular: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

body {
  background-color: #fafaf9;
  font-family: var(--font-regular);
}

.min-height-100vh {
  min-height: 100vh;
}

.logo {
  display: grid;
}

.logo-main {
  position: relative;
  font-family: "Charm", cursive;
  font-size: 2.5rem;
  color: var(--color-light);
  font-weight: bold;
}

.logo-sub {
  position: absolute;
  margin-top: 3rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  background-color: var(--color-light);
  color: var(--color-primary);
  padding: 0 2rem;
}

.all-in-one {
  background-image: url("https://images.unsplash.com/photo-1618083707368-b3823daa2726?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text {
  color: white;
}

.texts {
  font-size: 8rem;
}

.headline-main {
  font-family: "Mr Dafoe", cursive;
  font-size: 11rem;
  letter-spacing: 1rem;
}

.gallery {
  background-color: var(--color-light);
}

.gallery-title,
.about-title {
  font-size: 6rem;
}

.gallery-bottom-title,
.testimonials-title-head {
  font-family: "Mr Dafoe", cursive;
  font-size: 6rem;
}

.features-headline {
  font-size: 6rem;
  font-family: "EB Garamond", serif;
}
.testimonials-sub {
  font-size: 3rem;
}

.button {
  background: none;
  padding: 0.5rem 4rem;
  margin-top: 5rem;
  display: block;
  border: 1px solid var(--color-primary);
  transition: all 0.5s;
  margin: 0 auto;
  margin-top: 3rem;
}

button:hover {
  background-color: var(--color-darker);
  border: 2px solid var(--color-lighter);
  color: var(--color-light);
}

.sponsor {
  filter: saturate(0.2) brightness(0.9);
}

.images {
  display: flex;
  justify-content: space-around;
  width: 10rem;
  gap: 5rem;
}

.images img {
  width: 80%;
}

.text-footer {
  font-family: "Mr Dafoe", cursive;
  font-size: 2rem;
  color: var(--color-light);
}

.not-found h3 {
  font-family: "Mr Dafoe", cursive;
  font-size: 6rem;
}
